/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@800&family=Open+Sans:wght@400;500;600&family=Roboto:ital,wght@0,900;1,400&display=swap'); */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comforter Brush', cursive;
  
}
:root{
--primarycolor:#3ab3a7;
--primaryhowever:#0c988a;
--secondrycolor:#059789;
--sechowevercolor:#253b53;
--greycolor:#f7f7f7;
}
html{
  scroll-behavior: smooth;

}
a{
  text-decoration: none;
}
li{
  list-style: none;

}
span{
  display: block;
}
.flex{
  display: flex;
  align-items: center;

}
.grid{
  display: grid;
  align-items: center;
  gap: 1rem;

}
input{
  font-size: 100%;
  
}
.spantext{
  font-size: 14px;
}
p{
  font-size: 13px;
  opacity: -7;
}
.sectitle{
  text-align: center;
  padding: 1rem 0;
  font-size: 25px;
  font-weight: 700;
  color:var(--primarycolor);


}
.section{
  padding: 4rem 0 2rem;
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}
img{
  height: auto;
  width: 100%;

}
.icon{
  font-size: 2opx;
  cursor: pointer;
  
}
.btn{
  border: 2px solid var(--primarycolor);
  padding:  0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  color:var(--primarycolor);
  background: transparent;
  border-radius: 5px;


}
@media screen and(min-width:960px) {
  .container{
    width: 75%;
    margin: auto;

  }
  .section{
    padding: 6rem 0 4rem;

  }
  .sectitle{
    font-size: 30px;
    padding-bottom: 2rem;

  }
  
}